# Jangan upload file environment
.env
.env.*

# File Python cache
__pycache__/
*.py[cod]
*$py.class

# Folder virtual environment (nama bisa beda tergantung kamu buatnya apa)
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoint (kalau kamu pakai)
.ipynb_checkpoints

# File editor (misalnya VSCode atau PyCharm)
.vscode/
.idea/

# MacOS & Linux
.DS_Store
Thumbs.db

# Log files
*.log
# Abaikan folder whisper.cpp dan coqui_utils di dalam app/
app/whisper.cpp/
app/coqui_utils/
